@model Spice.Models.ViewModels.ExcepViewModel
    <div class="bg-light border">
        <h2 class="text-danger text-center">@Model.Title</h2>
        <h5 class="text-danger textcenter">@Model.Message</h5>
        <p class="lead text-warning">
            @Model.AddInfo
        </p>
    </div>